:root {
  --color-text-main: #000000;

  --color-bg-main: #e4e1d5;
  --color-bg-sec: #04dcc6a2;
  --color-bg-third: #f3f3f3;
  --color-bg-active: #1683b984;

  --font-size-main: 16px;
  --font-weight: 500;
  --line-height: 1.25;

  --border-radius: 5px;
  --color-border: #9e9d9d;

  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
