@use "../../utils/scss/index.scss" as *;

.title {
    display: flex;
    justify-content: center;
  
}

.contacts {
  @include min-width(401px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
  }
}
